<%=link_to "New Project", new_project_path%>
<br><br><br>
<h4>Active Projects</h4>
<br>
<ul>
  <% @projects.each do |project| %>

  <li><%= link_to project.name, project %></li>
      <br>
  <% end %>

</ul>